PORT=3001
WECHAT_APP_ID=
WXPAY_MCHID=
WECHAT_APP_SECRET=b526efc19a4514172465ebd09a7a998f
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wechat_local_bot1"
OLLAMA_MODEL="deepseek-r1"
CHATLOG_MCP_ENABLED=true

# 阿里云邮件推送配置
MAIL_HOST=smtpdm.aliyun.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
